.section {
  height: calc(100% - 70px);
}

.mobile-store-button {
  margin-top: 50px;
}

.first {
  margin-top: 70px;
}

.section p {
  font-size: 1.1rem;
  line-height: 2rem;
}
@media (min-width: 1200px) {
  .section p {
    font-size: 1.3rem;
  }
}

.wrapper {
  padding: 10%;
}

.reversed {
  background-color: #f8f8f6;
}

.phone-div {
  display: table;
  margin: 0 auto;
}

.phone {
  position: relative;
  background: none;
  float: right;
  margin: auto;
  width: 280px;
}

.reversed .phone {
  float: left;
}

.description {
  margin-top: 60px;
}