.footer {
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  text-align: center;
  color: var(--text-color);
  display: block;
}

.footer a, .footer span {
  transition: color 0.3s ease;
  font-weight: 500;
  display: inline-block;
  margin: 0px 15px;
}